@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 30px 40px;
}

.name{
    width: 50%;
    color: white;
    font-size: 30px;
}

.name p{
    font-family: "Handjet", sans-serif;
    margin: 0 0 0 60px;
}

.name span{
    color: rgb(0, 136, 255);
    font-family: "Nerko One", cursive;
    text-shadow: 0 0 30px white;
}

.navegador{
    width: 50%;
    display: flex;
    gap: 40px;
    justify-content: end;
    font-size: 21px;
    font-family: "Nerko One", cursive;
}

.navegador a{
    text-decoration: none;
    color: white;
    transition: .3s;
}

.navegador a:hover{
    color: rgb(0, 136, 255);
    text-shadow: 0 0 15px white;
    transition: .6s;
}

.antesala{
    width: 100%;
    height: 545px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.511), rgba(0, 0, 0.511)), url("../Img/codigo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.frase{
    color: white;
    margin: 120px auto 20px;
    font-size: 80px;
    font-family: "Nerko One", cursive;
    text-align: center;
}

.frase span{
    color: rgb(0, 136, 255);
}

.autor{
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: "Handjet", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.redes{
    display: flex;
    margin: 70px auto;
    gap: 70px;
}

.links-redes{
    border: 2px solid white;
    padding: 10px 10px 7px 10px;
    border-radius: 100px;
    transition: .3s;
}

.links-redes:hover{
    border-color: rgb(0, 136, 255);
    transition: .6s;
    background-color: rgb(0, 136, 255);
    box-shadow: 0 0 15px rgb(182, 182, 182);
}

#skills{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 80px;
    margin: 100px 0;
}

.html{
    display: flex;
    background: rgb(255,116,0);
    background: linear-gradient(90deg, rgba(255,116,0,1) 78%, rgba(255,255,255,1) 84%);
    border: 2px solid rgb(255,116,0);
    border-radius: 15px;
    padding: 20px;
    justify-content: space-between;
}

.css{
    display: flex;
    background: rgb(0,102,225);
    background: linear-gradient(90deg, rgba(0,102,225,1) 68%, rgba(255,255,255,1) 74%);
    border: 2px solid rgb(0,102,255);
    border-radius: 15px;
    padding: 20px;
    justify-content: space-between;
}

.js{
    background: rgb(255,210,0);
    background: linear-gradient(90deg, rgba(255,210,0,1) 0%, rgba(255,255,255,1) 15%);
    display: flex;
    border: 2px solid rgb(255,210,0);
    border-radius: 15px;
    padding: 20px;
    justify-content: space-between;
}

.imagenes-lenguajes{
    justify-content: center;
    align-items: center;
}

.porcentaje{
    display: flex;
    margin: 0;
    align-items: center;
    font-family: "Handjet", sans-serif;
    font-size: 56px;
}